@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sky-400: #38bdf8;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#___gatsby,
#gatsby-focus-wrapper {
  min-height: 100%;
}
